.tw-a {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

.tw-a-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-a-avatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-a-info{
    display: flex;
    flex-direction: column;
}

.tw-a-infoUserName {
    opacity: .6;
}

.tw-a-button {
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    border: 1px solid #000;
    transition: .3s ease backgraund-color;
}

.tw-text {
    display: block;
}

.tw-a-button.is-following {
    border: 1px solid rgb(75, 70, 70);
    background: transparent;
    color: #fff;
    width: 140px;
}

.tw-a-button:hover {
    opacity: .8;;
}

.tw-a-button.is-following:hover {
    background: rgba(221, 87, 87, 0.158);
    color: #e21a1a ;
    border: 1px solid red;
}

.tw-a-button.is-following:hover .tw-text {
    display: none;
}

.tw-a-button.is-following:hover .tw-stop {
    display: block;
}

.tw-stop {
    display: none;
}
